.about {
  .container {
    @media screen and (min-width: $bp1280){
        padding-right: 0;
    }
    
  }

  .content {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    

    &__text {
      background-color: var(--white-color);
      border-right: 15px solid var(--primary-color);
      padding: 50px 30px 50px 0;
      gap: 1.5rem;
      flex: 1 1 100%;
      @media screen and (min-width: $bp1280) {
       
        max-width: 806px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
      }
    }

    &__description {
      text-align: left;
      line-height: 125%;
      span {
        color: var(--primary-color);
        text-transform: uppercase;
        font-weight: var(--font-bold);
      }
    }

    &__bg {
      margin-left: auto;
          
    }
  }
}
