.categories {
  .tabheader {
    &__items {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 87px;
    }

    &__item {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      &:hover {
        .tabheader__title {
          &::after {
            width: 100%;
            opacity: 1;
          }
        }
        .tabheader__img {
          svg {
            path {
              fill: var(--primary-color);
            }
          }
        }
      }
    }

    &__item--active {
      .tabheader__title {
        &::after {
          width: 100%;
          opacity: 1;
        }
      }
      .tabheader__img {
        svg {
          path {
            fill: var(--primary-color);
          }
        }
      }
    }

    &__img {
      svg {
        path {
          fill: var(--font-color1);
          transition: var(--trans-0-3);
        }
      }
    }

    &__title {
      text-transform: uppercase;
      position: relative;

      &::after {
        position: absolute;
        content: "";
        bottom: -3px;
        left: 0;
        right: 0;
        width: 25%;
        margin: 0 auto;
        opacity: 0;
        height: 3px;
        background-color: var(--primary-color);
        transition: all var(--trans-0-3);
      }
    }
  }
  .tabcontent {
    &.show {
      display: grid;
    }
    &.hide {
      display: none;
    }
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
    &__item {
      position: relative;
      transition: all var(--trans-0-3);
      &.sale:hover {
        .tabcontent__descr {
          .price {
            &__after-sale {
              color: var(--white-color);
            }

            &__before-sale {
              color: var(--white-color);
            }
          }
        }
      }
      &:hover {
        transform: translateY(-2.5rem);
        .tabcontent__descr {
          background-color: var(--primary-color);
          color: var(--white-color);
        }
      }
      &.hit {
        .tabcontent__promo--hit {
          display: block;
        }
      }
      &.new {
        .tabcontent__promo--new {
          display: block;
        }
      }
      &.sale {
        .tabcontent__promo--sale {
          display: block;
        }
        .price {
          &__after-sale {
            display: block;
            color: var(--font-color3);
          }

          &__before-sale {
            color: var(--font-color2);
            font-size: var(--normal-font);
            text-decoration: line-through;
          }
        }
      }
    }

    &__promo {
      position: absolute;
      top: 10px;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 1.5rem;
      font-size: var(--normal-font);
    }

    &__promo--new {
      padding: 5px 15px;
      color: var(--white-color);
      text-transform: uppercase;
      background-color: var(--font-color1);
      display: none;
    }

    &__promo--hit {
      padding: 5px 15px;
      color: var(--white-color);
      text-transform: uppercase;
      background-color: var(--font-color1);
      display: none;
    }

    &__promo--sale {
      padding: 5px 15px;
      color: var(--white-color);
      text-transform: uppercase;
      background-color: var(--font-color3);
      display: none;
    }

    &__descr {
      padding: 1.5rem;
      display: flex;
      justify-content: space-between;
      text-transform: uppercase;
      font-size: var(--h4-font);
      transition: all var(--trans-0-3);
      h5 {
        font-weight: var(--font-bold);
      }
    }

    &__price {
      font-weight: var(--font-bold);
      display: flex;
      gap: 1rem;
      align-items: center;
    }
  }
  .price {
    &__after-sale {
      display: none;
      transition: all var(--trans-0-3);
    }
    &__before-sale {
      transition: all var(--trans-0-3);
    }
  }
}

.fade {
  animation: fade 1.5s;
}
@keyframes fade {
  from {
    opacity: 0.1;
  }
  to {
    opacity: 1;
  }
}
