.header {
  &__nav {
    border-bottom: 1px solid var(--font-color1);
  }
  &__contacts {
    &.flex {
      @media (min-width: $bp1600) {
        column-gap: 60px;
      }
      column-gap: 30px;
    }
  }

  .contacts {
    &__mobile {
      .menu__link {
        font-weight: var(--font-bold);
        gap: 0.5rem;
        padding-left: 0;
        padding-right: 0;
        .arrow {
          transform: rotate(0deg);
        }
      }
      .menu__item-has-children {
        position: relative;
      }
    }
  }
  .social {
    display: none;
    @media (min-width: $bp600) {
      display: flex;
    }
    &.hide {
      display: flex;
      @media (min-width: $bp992) {
        display: none;
      }
    }
   
   

    
    &__item {
      font-weight: var(--font-bold);
      &:first-child {
        @media (max-width: $bp1280) {
          display: none;
        }
      }
    }
    &__list{
      flex-wrap: wrap;
    }
    &.inside {
      position: absolute;
      bottom: 50px;
      left: 0;
      width: 100%;
      padding: 0 50px 0px 15px;
      .social__item {
        font-weight: var(--font-bold);
        &:first-child {
          @media (max-width: $bp1280) {
            display: block;
            flex-basis: 100%;
          }
        }
      }
    }

    &__link {
      display: inline-flex;
      &:hover {
        svg {
          path {
            fill: var(--primary-color);
            transition: 0.4s;
          }
        }
      }
    }
  }

  .menu {
    flex-grow: 1;
    align-items: center;
    @media (min-width: $bp992) {
      display: flex;
      justify-content: flex-end;
      flex-basis: auto;
    }
    &__overlay {
      @media (max-width: $bp992) {
        position: fixed;
        background-color: rgba(0, 0, 0, 0.5);
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 1098;
        visibility: hidden;
        opacity: 0;
        transition: all 0.5s ease;
        &.active {
          visibility: visible;
          opacity: 1;
        }
      }
    }

    &__block {
      @media (max-width: $bp992) {
        position: fixed;
        width: 320px;
        background-color: var(--white-color);
        left: 0;
        top: 0;
        height: 100vh;
        overflow: hidden;
        transform: translate(-100%);
        transition: all 0.5s ease;
        z-index: 1099;
      }
      &.active {
        transform: translate(0%);
        .menu__link {
          color: var(--font-color1);
          &:hover {
            color: var(--bgcolor2);
            i {
              color: var(--bgcolor2);
            }
          }
        }
      }
    }

    &__mobile {
      display: none;
      @media (max-width: 991px) {
        display: flex;
        height: 50px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        justify-content: space-between;
        align-items: center;
        position: relative;
        z-index: 501;

        position: sticky;
        background-color: var(--white-color);
        top: 0;
      }
      &.active {
        .menu__mobile-go-back {
          display: block;
        }
        .menu__mobile-title {
          visibility: visible;
        }
      }
    }
    &__mobile-go-back {
      height: 50px;
      width: 50px;
      border-right: 1px solid rgba(0, 0, 0, 0.1);
      cursor: pointer;
      line-height: 50px;
      text-align: center;
      color: var(--font-color1);
      font-size: 16px;
      display: none;
    }

    &__mobile-title {
      @media (max-width: $bp992) {
        font-size: var(--small-font);
        font-weight: var(--font-bold);
        color: var(--font-color1);
        visibility: hidden;
      }
    }

    &__mobile-close {
      @media (max-width: $bp992) {
        height: 50px;
        width: 50px;
        border-left: 1px solid rgba(0, 0, 0, 0.1);
        cursor: pointer;
        line-height: 50px;
        text-align: center;
        color: var(--font-color1);
        font-size: 2.5rem;
        font-weight: var(--font-bold);
      }
    }

    &__main {
      margin-bottom: 0;
      padding-left: 0;
      @media (min-width: $bp992) {
        display: flex;
        column-gap: 15px;
      }
      @media (max-width: $bp992) {
       
        height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        & > .submenu,
        & > .megamenu {
          color: red;
          visibility: visible;
          opacity: 1;
          position: absolute;
          box-shadow: none;
          margin: 0;
          padding: 15px;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          padding-top: 50px;
          max-width: none;
          min-width: auto;
          display: none;
          transform: translateX(0%);
          overflow-y: auto;
          overflow-x: hidden;
        }
      }
    }
    &__item {
      display: inherit;
    }
    &__item:not(.menu__item-has-children) {
      position: relative;
      @media (min-width: $bp992) {
        &.active {
          &::after {
            opacity: 1;
            width: 100%;
          }
        }
        &::after {
          position: absolute;
          content: "";
          width: 25%;
          height: 2px;
          background: var(--primary-color);
          bottom: 15px;
          left: 0;
          right: 0;
          margin: 0 auto;
          opacity: 0;
          transition: 0.4s ease;
        }
        &:hover {
          &::after {
            opacity: 1;
            width: 100%;
          }
        }
      }
    }

    &__item-has-children {
      a {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      &:not(.has-megamenu) {
        @media (min-width: $bp992) {
          position: relative;
        }
      }
      &:hover {
        & > .menu__link {
          .arrow {
            transform: rotate(-180deg);
          }
        }
      }
      &:hover > .submenu {
        @media (min-width: $bp992) {
          margin-top: 0px;
          visibility: visible;
          opacity: 1;
          z-index: 99;
          pointer-events: visible;
          border-radius: 0px 0px 15px 15px;
          border-top: 3px solid var(--primary-color);
        }
      }
      &:hover > .submenuSimple {
        margin-top: 0px;
        visibility: visible;
        opacity: 1;
        z-index: 99;
        pointer-events: visible;
        border-radius: 0px 0px 15px 15px;
        border-top: 3px solid var(--primary-color);
      }
      i {
        margin-left: 15px;
        color: var(--font-color1);
      }
    }

    &__link {
      position: relative;
      color: var(--font-color1);
      font-size: var(--normal-font);
      font-weight: var(--font-bold);
      font-style: normal;

      line-height: 50px;
      height: 50px;
      padding: 0 50px 0 15px;
      text-transform: uppercase;

      display: block;
      border-bottom: var(--border-bottom);
      .arrow {
        margin-left: 0.3rem;
        transform: rotate(-90deg);
        transition: transform 0.5s ease-in-out;
      }

      @media (min-width: $bp992) {
        padding-top: 18px;
        padding-bottom: 19px;
        padding-left: 0;
        padding-right: 0;
        line-height: 125%;
        height: auto;
        border-bottom: none;

        .arrow {
          transform: rotate(0deg);
          transition: transform 0.5s ease-in-out;
        }

        &:hover {
          .arrow {
            transform: rotate(180deg);
          }
        }
      }
    }

    &__item-has-children {
      &.hide.menu__item {
        @media (min-width: $bp992) {
          display: none;
        }
      }
    }
  }
  .submenu {
    position: absolute;
    z-index: 500;
    background-color: var(--white-color);
    box-shadow: -2px 2px 70px -25px rgb(0 0 0 / 30%);
    padding: 20px 0px;
    transition: opacity 0.5s ease, top 0.5s ease, margin-top 0.5s ease,
      background-color 0.5s ease;
    margin-top: 25px;
    opacity: 0;
    visibility: hidden;
    &.active {
      display: block;
    }

    @media (max-width: $bp992) {
      visibility: visible;
      opacity: 1;
      position: absolute;
      box-shadow: none;
      margin: 0;
      padding: 15px;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      padding-top: 50px;
      max-width: none;
      min-width: auto;
      display: none;
      transform: translateX(0%);
      overflow-y: auto;
      overflow-x: hidden;
    }

    @media (min-width: $bp992) {
      top: 100%;
      min-width: 227px;
      max-width: 227px;
    }

    &__item {
      color: var(--font-color1);
      font-weight: var(--font-bold);
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 10px;
      padding-bottom: 10px;
      transition: 0.4s;

      @media (max-width: $bp992) {
        padding-top: 20px;
        padding-bottom: 15px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      }

      i {
        transform: rotate(-90deg);
        transition: 0.4s;
      }
      &:hover {
        color: var(--primary-color);
        .arrow {
          transform: rotate(-180deg);
          transition: 0.4s;
        }
      }
      .submenu {
        @media (min-width: $bp992) {
          left: 100%;
          top: 0;
        }
      }

      a {
        color: inherit;
      }
    }
  }
  .submenuSimple {
    position: absolute;
    z-index: 500;
    background-color: var(--white-color);
    box-shadow: -2px 2px 70px -25px rgb(0 0 0 / 30%);
    padding: 20px 0px;
    transition: opacity 0.5s ease, top 0.5s ease, margin-top 0.5s ease,
      background-color 0.5s ease;
    margin-top: 25px;
    opacity: 0;
    visibility: hidden;
    top: 100%;
    min-width: 227px;
    max-width: 227px;
    &__item {
      color: var(--font-color1);
      font-weight: var(--font-bold);
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 10px;
      padding-bottom: 10px;
      transition: 0.4s;
      .arrow {
        transition: var(--trans-0-4);
      }
      &:hover {
        & > a {
          color: var(--primary-color);
        }
        .arrow {
          transform: rotate(180deg);
        }
      }
      .submenuSimple {
        left: 100%;
        top: 0;
      }
    }
  }
  .mobile-menu-trigger {
    @media (max-width: $bp992) {
      display: flex;
      height: 30px;
      width: 30px;
      margin-left: 15px;
      cursor: pointer;
      align-items: center;
      justify-content: center;
      span {
        display: block;
        height: 2px;
        background-color: var(--font-color1);
        width: 24px;
        position: relative;
        &::after,
        &::before {
          content: "";
          position: absolute;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: var(--font-color1);
        }
        &::before {
          top: -6px;
        }
        &::after {
          top: 6px;
        }
      }
    }
  }
  @keyframes slideLeft {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }

    100% {
      opacity: 1;
      transform: translateX(0%);
    }
  }
  @keyframes slideRight {
    0% {
      opacity: 1;
      transform: translateX(0%);
    }

    100% {
      opacity: 0;
      transform: translateX(100%);
    }
  }
}
.header {
  &__bottom {
    .container {
      padding-top: 30px;
      padding-bottom: 30px;
      justify-content: space-between;
      position: relative;
      flex-wrap: wrap;
      row-gap: 20px;
    }
  }

  &__menuBottom {
    gap: 1.5rem;
    flex-basis: 100%;
    justify-content: center;
     
     
      @media (max-width: $bp600) {
        display: none !important;
      }

    @media (min-width: $bp600) {
      display: flex;
    }

    @media (min-width: $bp1600) {
      flex-basis: auto;
    }
    .menu__item.menuBottom {
      position: relative;
    }
    .menu__link {
      text-transform: lowercase;
      text-transform: capitalize;
      padding: 0;
      .arrow {
        transform: rotate(0deg);
      }
    }
  }

  &__logo {
    flex-basis: 100%;
    justify-content: center;
    flex-direction: column;

    @media (min-width: $bp600) {
      flex-direction: row;
    }
    @media (min-width: $bp992) {
      flex-basis: auto;
    }
    @media (min-width: $bp1600) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    gap: 1.5rem;
  }

  &__order {
    gap: 3rem;
    flex-basis: 100%;
    justify-content: center;
    @media (min-width: $bp992) {
      flex-basis: auto;
    }
    flex-direction: column;

    @media (min-width: $bp480) {
      flex-direction: row;
    }
  }

  &__cart {
    gap: 0.5rem;
  }

  &__call {
    background-color: var(--primary-color);
    color: var(--white-color);
    padding: 14px 46px;
    font-size: var(--normal-font);
    font-weight: var(--font-bold);
    text-transform: uppercase;
    border-radius: 3px;
    transition: var(--trans-0-4);
    &:hover {
      background-color: var(--primary-color-hover);
    }
  }
}

.logo {
  &__text {
    font-size: var(--h3-font);
    font-weight: var(--font-bold);

    &::first-letter {
      color: var(--primary-color);
    }
  }
}
.cart {
  &__text {
    font-weight: var(--font-bold);
    text-transform: uppercase;
    line-height: 125%;
  }
}
