@font-face {
	font-family: ProximaNova;
	font-display: swap;
	src: url("../fonts/ProximaNova-Light.woff2") format("woff2"), url("../fonts/ProximaNova-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
